

.azeret-mono-normal {
  font-family: "Azeret Mono" ,;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
   margin:0;
   padding: 0;
}
#hero{
    height: 708px;
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content: center;
    align-items: center;

}

#hero .hero-content{
    width: 1084px;
    

}
#hero .hero-content .heading{
    color: rgb(13, 19, 33);
font-family: "Azeret Mono",;
font-size: 52px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
}

#hero .hero-content{
 
text-align: center;
}
#hero .hero-content .description {
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 14px;
    font-weight: 550;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 70%;
}

#hero .hero-content .click{
     width: 226px;
     height: 71px;
     margin: 28px 0px;
     padding: 19px 22px 19px 22px;
    border-radius: 8px;
    background-color: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: "Azeret Mono";
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0%;
    text-align: center;
    }

#part {
    width: 1600px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
#part .parent{

     margin: 67px;
    }
    #part .p1{
        width: 1250px;
        padding: 48px;
        border-radius: 16px;
        background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    }

 .heading2{
    color: rgb(13, 19, 33);
    font-size: 40px;
    font-weight: bolder;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
#part .parent .h2d .desp{ 
    
color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
opacity: 70%;
margin: 20px;
}

#part .layer1{
    display: flex;
   justify-content: space-between;
align-items: center;
margin: 32px 0px;
}
#part .code{
    margin: 32px 0px;
    
}

#part .layer1 .h3{
color: rgba(13, 19, 33, 0.7);
font-size: 28px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
width: 410px;
}

#part .layer1 .desp2{
    margin: 16px 0px;
    color: rgb(13, 19, 33);
    font-size: 20px;
   font-weight: 400;
   line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  width: 600px;
}
#part .layer1 .btn{
    width: 150px;
    height: 48px;
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
     border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 20px;
   font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
   }

   
#part2 {
    width: 1600px;
    background: rgba(13, 19, 33, 0.02);
    margin: 0 auto;
}
    

#part2 .layer2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 1250px;
    margin: 0 auto;
    
}
.g3{
    width: 300px;
}

.h4 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    width: 410px;}

.desp3{
    margin: 16px 0px;
    color: rgb(13, 19, 33);
    font-size: 20px;
   font-weight: 400;
   line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  width: 600px;
}

.btn3{
    width: 150px;
    height: 48px;
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
     border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 20px;
   font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    
}
#part3 {
    width: 1600px;
    background: rgba(13, 19, 33, 0.02);
    margin: 0 auto;
}
 
#part3 .layer3{
    display: flex;
   justify-content: space-between;
align-items: center;
margin: 0 auto;
width: 1250px;
padding: 48px;
border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

#part4{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
}
.h5 {
    text-align: center;
    width: 852px;
    height: 39px;
    margin: 30px auto;
    color: rgb(13, 19, 33);
    font-size: 38px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
}
.desp4 {
    margin: 27px auto;
    text-align: center;
    color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 500;
    opacity: 0.7;
}

.if{
    position: static;
    width: 1240px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 32px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
.iframe{
    position: static;
width: 1076px;
height: 550px;
margin: 10px auto;
}
.text-center{
    text-align: center;
}
.skills-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1140px;
  margin: 111px auto;
  gap: 24px;
}
.skill{
    padding: 40px;
}
.skills{
    border-radius: 16px;
    width: 360px;
    height: 280px;
    padding: 40px;
}
.skill-title{
    font-size: 24px;
font-weight: 800;
line-height: 36px;
margin: 12px 0;
}
.skill-desp{
    font-size: 16px;
font-weight: 400;
line-height: 26px;
margin: 12px 0;
}
.skill-a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    
}
.A{
    background: rgba(255, 76, 30, 0.05);
}
.B{
    background: rgba(0, 76, 232, 0.05);
}
.C{
    background: rgba(255, 223, 0, 0.05);
}
#hand{
    width: 1140px;
    height: 550px;
    margin: 0 auto;
}
.handshake{
    width: 1140px;
    height: 314px;
    background-image: url(../assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 16px;

    }

.hs-support{
    width: 1044px;
height: 186px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 64px 48px 64px 48px;
}    

.hs-parent{
    display: flex;
    gap: 10px;
}
.hs-title{
    position:static;
    width: 292px;
height: 36px;
color: rgb(255, 255, 255);
font-size: 32px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
margin: 16px 0;
}
.hs-desp{
    width: 606px;
height: 52px;
margin: 16px 0px;
color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;}

.hs-child1{
width: 548px;
height: 57px;
margin: 0px 16px;
box-sizing: border-box;
border-radius: 8px;
background: rgb(255, 255, 255);
padding: 19px 20px 19px 20px;
}
.hs-ch{
position: static;
width: 313px;
height: 19px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
color: rgba(13, 19, 33, 0.4);
border: none;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
}

.hs-child2{
position: static;
width: 120px;
height: 50px;
border-radius: 8px;
background: rgb(255, 255, 255);
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.hs-ch2{
    position: static;
    width: 80px;
    height: 24px;
    color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
border: none;
background:  rgb(255, 255, 255);;
}

